
.container {
  margin-top:20px;
  height: 100%;

  width: 100%;
}

.row {
width: 100%;
margin-top:10px;
}


#force {
  height:600px;
  width:900px;
}

#cloud {
  height:600px;
  width:900px;
  margin-bottom:5px;
  margin-left:5px;
}
#chart_left {
  height:150px;
  width:450px;
  margin-bottom:5px;
  margin-left:5px;
}
#chart_right {
  height:150px;
  width:450px;
  margin-bottom:5px;
  margin-right:5px;
}

#chart_down {
  height:400px;
  width:900px;
  margin-bottom:5px;
  margin-left:5px;
}
.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
.line1 {
  fill:None;
  stroke: IndianRed;
  stroke-width: 2px;
}

.area1 {
  fill: IndianRed;
}

.line2 {
  fill: none;
  stroke:DarkKhaki;
  stroke-width: 2px;
}


.area2 {
  fill:DarkKhaki;

}

.valuearea1 {
  fill: DarkRed;
}


.valuearea2 {
  fill: SkyBlue;
  opacity:0.4;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}


.valuearea3 {
  fill: Plum;
  opacity:0.4;
}

.valuearea4 {
  fill: SlateBlue;
  opacity:0.7;
}

.valuearea5 {
  fill: MediumPurple;
  opacity:0.5;
}
